* {
    padding: 0;
    margin:0;
}

body {
    font-family: monospace;
    position: relative;
   
}

header{
   position: fixed;
   top: 0;
   width: 100%;
    background: lightgrey;
    color: black;
}

li{
    list-style: none;
    
}

a{
    color: white;
    text-decoration: none;
}

.container{
    
    width:100%;
    margin:auto;
   
}
.navbar {
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    gap:50px;
}

.nav-branding{
    font-size: 2rem;
}

.about, .work, .resume{
    height: 720px;
    margin-top: 70px;
    border: 1px solid black;
}

.work, .resume{
    margin-top: 0;
}

 .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    float:right;
  

  @media(max-width:700px) {
    .container{width :100%}

  }
  @media(max-width: 800px){
    .nav-menu{
        display:flex;
        flex-direction: column;
    }
  }