* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    color: white;
    background-color: darkgray;
    margin: 0px;
    padding: 0px;
}


img{
 position: fixed;
 top: 0;
 left: 0;

}

header{  
   display:flex;
   flex-wrap: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
    background: lightgrey;
    color: black;
    box-shadow: rgba(red, green, blue, alpha) 0px 5px 35px;
    padding: 15px 6% 15px 0px;
    height: 125px;
    width: 100%;

}

header h1{
    line-height: 1;
    margin-top: 65px;
    padding: 5px 1% 5px 1%;
}
  
  /* Style the links inside the navigation bar */
 .topnav {
    float: right;
    padding: 15px 5% 5px 5%;
  }

  .topnav a{
    text-decoration: none;
    justify-content: space-between;
    color: #f2f2f2;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 @media screen and (max-width: 768px) {
    .topnav{
        flex-direction: column;
        
    }
    
 }


